*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --color-home:#9db4d2;
    --coolor-button:#edc315;
    --color-fondo-defecto:#739ee3;
    --color-footer:#343434;
    --color-blanco:#ffffff;
    --color-oscuro:#5380c1;
}
.header{
    display: flex;
    background-color: var(--color-home);
    background-color: transparent;
    z-index: 1000;
    top: 0;
    position: fixed;
    max-width: auto;
    width: 100%;
    justify-content: space-evenly;
    background-color:#527ebc ;
    /* background-image: url(Azul.png); */
}
.nav{
  width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.nav__img{
    height: 60px;
    margin-right: 290px;
}
.nav__ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    
}
.nav__li{
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}
.nav__a{
    text-decoration: none;
    color: var(--color-blanco);
}
.section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Sha34e.png);
    background-size: cover;
    background-repeat:no-repeat ;
    width: 100%;
    height: 115vh;
    z-index: 2;
}
.section__home{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.section__home--Titulo{
font-size: 80px;
color:var(--color-blanco);
}
.section__home--parrafo{
    font-size: 25px;
    color: var(--color-blanco);
}
.section__home--button{
    color: white;
    background-color: var(--coolor-button);
    border-radius: 30px;
    border: 1px solid var(--coolor-button);
    width: 35%;
    height: 7vh;
    font-size: 26px;
    text-align: center;
    
}
/* Aqui iniciar la seccion de producto */
.section__section{
    background-color:var(--color-fondo-defecto);
    height: 950px;
}
.section__producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 60px; */
}
.section__producto--Titulo{
    margin-top: 80px;
    font-size: 60px;
    color: var(--color-blanco);
}
.section__producto--parrafo{
    margin-top: 90px;
    text-align: center;
    font-size: 28px;
    color: var(--color-blanco);
    z-index: 1;
}
.section__section--img-1{
    display: block;
    position: absolute;
    left: 0px;
    z-index: 1;
}
.section__section--img-2{
display: block;
position: absolute;
z-index: 1;
left: 50px;
margin-left: 30px;
top: 120vh;
}
.section__section--img-3{
    position: absolute;  
    right: 0;
    top: 115vh;
    margin-bottom: 100px;
    z-index: 0;
    /* transform: rotate(5deg); */
}
.section__section--img-4{
    display: block;
    position: absolute; 
    top: 205vh; 
    right:20vh;
}
.section__section--img-5{
    display: block;
    position: absolute; 
    right: 150px;
    top: 125vh;
}
.section__section--producto{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
margin-top: 130px;
}
.section__section--producto--colum{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
}
.producto__img{
    width: 280px;
    z-index: 1;
}
.section__section--producto--titulo{
    color: var(--color-blanco);
    font-size: 27px;
}
.section__section--producto--parrafo{
    color: var(--color-blanco);
    font-size: 19px;
}
/* Costos */
.section__section--costos{
    background-image: url(greg.png);
    min-height: 125vh;
    padding: 100px 20px;
    background-size: cover;
    background-position:center ;
    background-repeat:no-repeat ;

}
.section__section--img--costos{
    display: block;
    position: absolute;
    top: 214vh;
    left: 150px;
}
.section__section--costos--contenedor--colum{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section__section--costos--titulo{
    margin-top: 100px;
    font-size: 50px;
    color: var(--color-blanco);
}
.section__section--costos--parrafo{
    font-size: 24px;
    color: var(--color-blanco);
}
.section__section--costo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.section__section--costo--colum{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px solid var(--color-blanco);
    border-radius: 150px;
    padding: 90px;
}
.section__section--costo--colum--titulo{
font-size: 46px;
color: var(--color-blanco);

}
.section__section--costo--colum--parrafo{
    font-size: 16px;
    color: var(--color-blanco);
}
/* Title here azul oscuro */
.section__section--title{
background-color: var(--color-oscuro);
min-height: 60vh;
padding: 100px 20px;
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
position: relative;
}
.section__section--row{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section__section--img-title1{
    display: block;
    position: absolute;
    top: 0vh;
    left: 170px;
    transform: rotate(20deg);
}
.section__section--img-title2{
    display: block;
    position: absolute;
    top: 0vh;
    right: 117px;
}
.section__section--img--title3{
    display: block;
    position: absolute;
    top: 466px;
    left: 15vh;
}
.section__section--img--title4{
display: block;
position: absolute;
right: 199px;
top: 452px;
}
.section__section--img--title4--edti{
left: 300px;
}
.section__section--row--titulo{
    font-size:clamp(20px, 5vw, 40px);
    color: var(--color-blanco);
}
.section__section--row--parrafo{
font-size: 22px;
color: var(--color-blanco);

}
.section__section--img-title3{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section__section--row--button{
    border: 1px solid var(--coolor-button);
    color: var(--color-blanco);
    font-size: 20px;
    background-color: var(--coolor-button);
    border-radius: 20px;
    width: 250px;
    padding: 10px;
}
/* El title azul claro */
.background__two{
    background-color: var(--color-fondo-defecto);
}
.order{
order: 2;
}
/* Pirncing */
.section__section--princing{
min-height: 60vh;
padding: 100px 20px;
background-color: var(--color-oscuro);
}
.section__home--row{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-evenly;
}
.section__section--row--border{
background-color:var(--color-blanco);
border-radius: 5px;
width: 300px;
height: 350px;
}
.section__section--icon--azul{
color: var(--color-fondo-defecto);
}
.section__section--button--arreglado{
font-size: 20px;
width: 200px;
height: 50px;
}
/* penultimo */
.background__two--edit{
min-height: 30vh;
padding: 100px 20px;
}
.section__section--grid{
display: grid;
grid-template-columns: repeat(2,400px);
grid-template-rows: repeat(2,300px);
justify-content: center;
}
.section__section--colum{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 28px;
}
.section__section--row--img{
    display: flex;
    flex-direction: row;
    height: 80px;
    gap: 100px;
}
.section__section--titulo--colum{
    display: flex;
    flex-direction: column;
}
/* Casi del footer*/
.section__section--costos--cambio-img{
background-image: url(casi.png);
min-height: 145vh;
padding: 100px 20px;
justify-content: center;
align-items: center;
}
.section__producto--Titulo--cambios{
    display: flex;
    margin-top: 550px;
}
/* Footer */
.footer__home{
    background-color: var(--color-footer);
    height: 50vh;
    padding: 100px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section__home--colum{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 70px;
}
.section__section--row--parrafo--16{
    font-size: 22px;
}